.primary_color{
    -fx-background-color :#181818;
}

.secondary-color{
    -fx-background-color: #121212;
}

.selected{
    -fx-border-color: #52A447;
    -fx-border-width: 0 0 0 5;
}

.top-border{
    -fx-border-color: #a1a1a1;
    -fx-border-width: 1 0 0 0;
}

.search-container{
    -fx-background-color: #fff;
    -fx-background-radius: 100;

}


.upgrade-button {
    -fx-background-color: black; /* Button background color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: white; /* Border color */
    -fx-border-width: 2px; /* Border thickness */
    -fx-border-radius: 5px; /* Rounded corners for the border */
    -fx-background-radius: 5px; /* Rounded corners for the button */
    -fx-padding: 10 20; /* Padding inside the button */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 0, 0, 0, 0); /* No shadow initially */
    -fx-font-size: 16px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
    -fx-cursor: hand; /* Changes the cursor to a hand on hover */
}

.upgrade-button:hover {
    -fx-background-color: black; /* Maintain the background color on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 10, 0, 0, 0); /* White glow effect */
    -fx-translate-y: -2px; /* Simulate a "pop-up" effect */
}

.upgrade-button:pressed {
    -fx-translate-y: 0; /* Reset position when clicked */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.5), 5, 0, 0, 0); /* Reduce glow on press */
}


.scroll-pane > .viewport{
    -fx-background-color: #101010;
}

.custom-button {
    -fx-background-color: black; /* Button background color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: white; /* Border color */
    -fx-border-width: 2px; /* Border thickness */
    -fx-border-radius: 5px; /* Rounded corners for the border */
    -fx-background-radius: 5px; /* Rounded corners for the button */
    -fx-padding: 10 20; /* Padding inside the button */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 0, 0, 0, 0); /* No shadow initially */
    -fx-font-size: 16px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
    -fx-cursor: hand; /* Changes the cursor to a hand on hover */
}

.custom-button:hover {
    -fx-background-color: black; /* Maintain the background color on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 10, 0, 0, 0); /* White glow effect */
    -fx-translate-y: -2px; /* Simulate a "pop-up" effect */
}

.custom-button:pressed {
    -fx-translate-y: 0; /* Reset position when clicked */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.5), 5, 0, 0, 0); /* Reduce glow on press */
}
